@media screen and (max-width: 480px) {


    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
      }
      body{
        font-family: helvetica;
        font-size: 16px;
        color: #333;
        padding-top: 15px;
        padding-bottom: 15px;
        /* border: 1px red solid; */
      }
      .ancho{
        max-width: 1200px;
        margin: 0 auto;
        /* border: 1px blue solid; */

      }
    
    
      h2 {
        text-align: center;
        color: #FC1450;
        font-family: roboto;
        font-weight: 500;
        font-size: medium;
        
        
      }
    
      h1 {
        margin-top: 10px;
        text-align: center;
        color: #2E2E2E;
        font-family: Roboto;
        font-weight:300 ;
      }
    
    .black_color {
        color: #171717;
        font-family: Roboto;
        font-weight: 900;
      }
    
    .linea{
        width: 100%;
        height: 100%;
        /* border: 1px blue solid; */
    }
    .linea img{
        display: block;
        margin: auto;
        width: 40px;
        height: 1px;
        margin-top: 8px;
        margin-bottom: 8px;
    }
    
    .Seccion1 {
        border: 1px red solid;
        max-width: 480px;
    }


      .Seccion1 .articles_images{
        margin-top: 40px;
        max-width: 1200px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 8px;


        max-width: 480px;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 0px;
        width: 100%;
        row-gap: 40px;
        
      }
    
      .Seccion1 .articles_images article{
        /* border: 1px red solid; */
        max-width: 1200px;

        max-width: 480px;
      }
    
    
    .Seccion1 .img_1{
        background-image: url(../assets/imagenes/foto1.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 340px;
        height: 340px;

        width: 100%;
        background-size: cover;
        background-position-y: -30px;
      }
    
    .Seccion1 .img_2{
        background-image: url(../assets/imagenes/foto2.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 700px;
        height: 336px;

        /* border: 1px red solid; */

        background-size: cover;
        width: 100%;
      }
    
      .Seccion1 .img_3{
        background-image: url(../assets/imagenes/foto3.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 340px;
        height: 340px;

        width: 100%;
        background-size: cover;
        background-position-y: -80px;
      }
    
      .Seccion1 .img_4{
        background-image: url(../assets/imagenes/foto4.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 340px;
        height: 340px;

        width: 100%;
        background-size: cover;
        background-position-y: -80px;
      }
    
      .Seccion1 .img_5{
        background-image: url(../assets/imagenes/foto5.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 340px;
        height: 340px;

        width: 100%;
        background-size: cover;
        background-position-y: -80px;
      }
    
      .Seccion1 .img_6{
        background-image: url(../assets/imagenes/foto6.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 700px;
        height: 336px;

        width: 100%;
        background-size: cover;
        
      }
    
      .Seccion1 .img_7{
        background-image: url(../assets/imagenes/foto7.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 340px;
        height: 340px;

        width: 100%;
        background-size: cover;
        background-position-y: -80px;
      }
    
    .Seccion1 .art{
        width: 100%;
        height: 100%;
        /* border: 1px red solid; */
        background-color: white;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 15px;
        opacity: 0;
        transition: all 0.5s;
    }
    
    .Seccion1 .art:hover{
        opacity: 1;
    }
    
    .Seccion1 .articles_images h3{
        font-family: Montserrat;
        font-weight: 700;
        font-size: 23px;
        color: black;
    }
    
    .Seccion1 .articles_images p {
        font-family: Montserrat;
        font-weight: 500;
        font-size: 17px;
        color:#3C4145;
    }
    
    .Seccion1 .articles_images a {
        font-size: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background: #EF4158;
        color: white;
    }
    
    .Seccion2{
        margin-top: 100px;
        

    }
    
    .Seccion2 article {
        /* border: 1px red solid; */
        margin-top: 40px;
        margin: 0px auto;
    }
    
    .Seccion2 .informacion_sombra{
       text-align: center;
       /* border: 1px red solid; */
       margin: 0px;
       padding: 0px;
       max-width: 100%;
    }
    
    .Seccion2 .informacion_sombra figure {
        overflow: hidden;
    }
    .informacion_sombra figure img {
        width: 250px;
        height: 350px;
        filter: grayscale(0%);
        transition: all 0.5s;
        /* border: 1px green solid; */
    }
    
    .informacion_sombra figure img:hover{
        filter: grayscale(100%);
    }
    
    
    .Seccion2 article ul {
        list-style: none;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap:10px;
    }
    
    .Seccion2 article ul li a{
        display: inline-block;
        color: #949494;
    }
    
    .Seccion2 .personas {
    
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    
    .Seccion2 h3 {
        font-family: Roboto;
        font-weight: 700;
        color: #757575;
    }
    
    .Seccion2 h4 {
        font-family: Roboto;
        font-weight: 300;
        color: #BBBBBB;
    }
    
    .Seccion3 {
        margin-top: 50px;
        text-align: center;
        /* border: 1px red solid; */
    }
    
    .Seccion3 .precios {
        margin-top: 45px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 60px;
        margin-bottom: 10px;
    }
    
    .Seccion3 article {
        /* border: 1px red solid; */
        width: 360px;
        position: relative;
        transition: all 0.5s;
    }
    
    .Seccion3 article:hover{
        box-shadow: 0px 5px 20px #ccc;
    }
    
    
    .Seccion3 article i {
        font-size: 30px;
        color: #D5D5D5;
        margin-top: 25px;
    }
    
    .Seccion3 h3 {
        margin-top: 10px;
        margin-bottom: 50px;
    
        font-family: Roboto;
        font-size: 25px;
        font-weight: 500;
        color: #1A1A1A;
    }
    
    
    .Seccion3 .bordes{
        /* border: 1px red solid; */
        width: 280px;
        margin: 0px auto;
        padding-top: 35px;
        padding-bottom: 35px;
        box-shadow: 0px 0.5px 0px #ccc, 0px -0.5px 0px #ccc;
    }
    
    .Seccion3 .relativo {
        display: inline-block;
        font-size: 50px;
        position: relative;
        /* border: 1px red solid; */
        line-height: 60px;
        margin-right: 10px;
    
        font-family: Montserrat;
        font-weight: 700;
    }
    
    .Seccion3 .pesos_prueba{
    
        font-size: 12px;
        color: black;
        
        position: absolute;
        left: 100%;
        top: 8%;
    }
    
    .Seccion3 .Per_Month{
        font-size: 15px;
        vertical-align: baseline;
        height: 100%;
        /* color: red; */
        display: inline-block;
        color: #FE1E52;
    }
    
    
    .Seccion3 article ul {
        list-style: none;
        margin-top: 60px;
    }
    
    .Seccion3 article ul li{
        margin-top: 15px;
        margin-bottom: 20px;
        
        font-family: Roboto;
        font-weight: 400;
        color: #787878;
    }
    
    .precios article a {
        display: inline-block;
        text-decoration: none;
        background-color: white;
        border: 3px black solid;
        color: black;
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 10px  20px 10px 20px;
    
        font-family: Roboto;
        font-weight: bold;
    
        transition: all 0.5s;
    }
    
    .precios article a:hover {
        background-color: #FE1E52;
        color: white;
        width: 200px;
    }
    
    .Seccion4{
        margin-top: 50px;
    }
    
    .Seccion4 .noticias {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        /* border: 1px red solid; */
        gap: 26px;
    }
    
    .Seccion4 article {
        box-shadow: 0px 5px 20px #ccc;
        width: 380px;
    }
    
    .Seccion4 article figure {
        overflow: hidden;
    }
    .Seccion4 article figure img {
        width: 100%;
        transform: scale(1);
        transition: all .5s;
    }
    
    .Seccion4 article figure img:hover{
        width: 100%;
        transform: scale(2);
    }
    
    .noticias h4 {
        margin-top: 20px;
        font-family: Roboto;
        font-weight: 500;
        color:#959595;
        transition: all 0.5s;
        cursor: pointer;
    }
    
    .noticias h4:hover{
        color:#FE1E52;
    }
    
    .noticias h3 {
        margin-top: 5px;
    
        font-family: Roboto;
        font-weight: 700;
        font-size: 20px;
    
        color: #5E5E5E;
    }
    
    .noticias h6 {
    
        margin-top: 10px;
        font-family: Roboto;
        font-weight: 700;
        color: #6C6C6C;
    }
    
    .noticias .rojo_noticias {
        color: #F34966;
    }
    
    .Seccion4 .info_noticias {
        margin-top: 15px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 10px;
        border-bottom: 1px #ccc solid;
        padding-bottom: 15px;
        /* border: 1px red solid; */
    }
    .Seccion4 article p {
        margin-left: 20px;
        margin-right: 20px;
        /* border: 1px red solid; */
    
        font-family: Roboto;
        font-weight: 500;
    
        color:#6D6D6D;
    }
    
    .Seccion4 article a {
        /* border: 1px red solid; */
        display: inline-block;
        margin-left: 20px;
        margin-top: 30px;
        margin-bottom: 35px;
    
        font-family: Roboto;
        font-weight: 500;
        font-size: 17px;
    
        color:#6F6F6F;
    }
    


}

